<div class="ae-container-fluid ae-container-fluid--inner">
    <div class="ae-grid ae-grid--reverse ae-grid--collapse au-lg-ptp-1 au-mb-4">
        <div class="ae-grid__item item-lg-5 item-lg--offset-1">
            <p class="ae-u-bolder">LA SOCIEDAD ESTÁ CONFORMADA POR 04 SOCIOS</p>
            <p>Somos una empresa boliviana de Sociedad de Responsabilidad
                Limitada (SRL) legalmente establecida
                a nivel nacional para la importación y distribución
                de productos farmacéuticos, cosmetológicos,
                veterinarios e insumos médicos. Donde la calidad
                es nuestro mayor objetivo.</p>
        </div>
        <div class="ae-grid__item item-lg-6">
            <img src="assets/img/about/pic-1.jpg" alt="Urku Portfolio">
        </div>
    </div>
    <div class="animated fadeIn ae-grid au-xs-ta-center au-mb-4">
        <div *ngFor="let persona of infoService.equipo" class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
            <img [src]="persona.url" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
            <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">{{ persona.frase }}</p>
            <a href="#0" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
        </div>
    </div>
    <div class="animated fadeIn ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">MISIÓN</h4>
        <p>Ser una empresa líder en la distribución y la
            venta de medicamentos, satisfaciendo las
            necesidades del cliente a través de la calidad
            de nuestros productos, brindando un
            servicio personalizado, con responsabilidad
            frente a nuestros accionistas, colaboradores,
            proveedores, al estado y a la sociedad
            en general.</p>
        </div>
    </div>
    <div class="animated fadeIn ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">VISIÓN</h4>
            <p>En el 20 21, posicionarnos como la mayor
                empresa de distribución de medicamentos
                con una cobertura nacional, siendo la
                primera opción de compra entre nuestros
                clientes; aportando al crecimiento
                sostenible de la región y de cada uno de
                nuestros colaboradores y sus familias.
            </p>
        </div>
    </div>
    
    <!-- <p class="au-flex au-pt-4 group-buttons">
        <a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">
            View Our Portfolio
            <span class="arrow-cont">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                </svg>
            </span>
        </a>
    </p> -->
</div>