<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a *ngFor="let producto of productoService.productosFiltrado" routerLink="/item/{{producto.cod}}" class="rk-item ae-masonry__item shadow p-3 mb-5 bg-white rounded">
            <img src="assets/productos/{{ producto.url }}.jpg" alt="">
            <div>
                <h5>{{ producto.titulo }}</h5>
                <p>{{ producto.categoria }}</p>
            </div>
            <div class="item-meta">
                <h2>{{ producto.titulo }}</h2>
                <p>{{ producto.categoria }}</p>
            </div>
        </a>
    </div>
</section>