<section *ngIf="producto" class="ae-container-fluid ae-container-fluid--full">
    <!-- <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner banner-main">
        <div class="ae-grid__item item-lg--auto"><img src="assets/productos/{{ itemId }}/main.jpg" alt="Urku Portfolio"></div>
        <div class="item-inside__meta banner-title">
            <h1 class="ae-u-bolder rk-portfolio-title ">{{ producto.producto }}</h1>
            <p class="ae-theta rk-portfolio-category ">{{ producto.categoria }}</p>
        </div>
    </div> -->
    <div class="ae-container-fluid ae-container-fluid--inner">
      <div class="ae-grid ae-grid--collapse pt-4">
        <div class="ae-grid__item item-md-8 item-sm--center au-xs-ta-center au-md-ta-left">
          <h2 class="rk-portfolio-inner-title ">{{ producto.producto }}</h2>
        </div>
        <div class="ae-grid__item item-md-4 au-xs-ta-center au-md-ta-right rk-portfolio-details">
          <!-- <p class="rk-portfolio-inner-client "><span class="ae-lambda">Client: </span><span class="ae-u-bolder">{{ producto.categoria }}</span></p> -->
          <p class="rk-portfolio-inner-client "><span class="ae-lambda">Categoría: </span><span class="ae-u-bolder">{{ producto.categoria }}</span></p>
          <!-- <p class="au-underline rk-portfolio-inner-website "><a href="#0" class="ae-kappa">www.agencydesign.com</a></p> -->
          <!-- <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">12 August, 2015</p> -->
        </div>
      </div>
    </div>

    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">

      <div class="ae-grid ae-grid--reverse ae-grid--collapse pt-4">
        <div class="ae-grid__item item-lg-6 item-lg--offset-1">
            <p class="ae-u-bolder h3">Resumen</p>
          <p>{{ producto.resumen }}</p>
        </div>
        <div class="ae-grid__item item-lg-5">
          <img src="assets/productos/{{ itemId }}/pic-1.jpg" alt="Urku Portfolio">
        </div>
      </div>

      <div class="ae-grid ae-grid--collapse au-lg-ptp-1">
        <div class="ae-grid__item item-lg-5">
            <p class="ae-u-bolder h3">{{ producto.subtitulo1 }}</p>
          <p>{{ producto.desc1 }}</p>
        </div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-2">
            <p class="ae-u-bolder h3">{{ producto.subtitulo2 }}</p>
          <p>{{ producto.desc2 }}</p>
          </div>
        <!-- <div class="ae-grid__item item-lg-5 item-lg--offset-1">
            <img src="assets/productos/{{ itemId }}/pic-2.jpg" alt="Urku Portfolio">
          </div> -->
      </div>

    </div>
    <!-- <div class="ae-container-fluid au-pt-4 au-pb-4">
      <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Next Project<span class="arrow-cont">
            <svg>
              <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></div>
    </div> -->
  </section>
