
<section class="ae-container-fluid">
    <app-g-carousel></app-g-carousel>

    <div class="ae-container-fluid ae-container-fluid--inner">
        <div class="animated fadeIn ae-grid au-xs-ta-center au-mt-4">
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-4.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Nuestra plataforma virtual</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a href="#0" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-5.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Sucursal 24 horas</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a href="#0" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-6.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Atención personalizada</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a href="#0" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-7.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Ubica tu farmacia</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a href="#0" class="btn btn-warning">INGRESA</a>
            </div>
        </div>
    </div>

    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 mt-5">
            <!-- <a *ngFor="let producto of productosService.productos" routerLink="/item/{{producto.cod}}" class="rk-item ae-masonry__item shadow p-3 mb-5 bg-white rounded"> -->
            <a routerLink="/product" class="rk-item ae-masonry__item shadow mb-5 bg-white rounded">
                <img src="assets/img/index/card-1.png" alt="">
                <div class="px-3">
                    <h5 class="text-center">PRODUCTOS</h5>
                </div>
                <div class="item-meta">
                    <h2>INGRESAR</h2>
                    <!-- <p>producto.categoria</p> -->
                </div>
            </a>
            <a routerLink="/product" class="rk-item ae-masonry__item shadow mb-5 bg-white rounded">
                <img src="assets/img/index/card-2.png" alt="">
                <div class="px-3">
                    <h5 class="text-center">BUSCAR</h5>
                </div>
                <div class="item-meta">
                    <h2>INGRESAR</h2>
                    <!-- <p>{{ producto.categoria }}</p> -->
                </div>
            </a>
            <a routerLink="/product" class="rk-item ae-masonry__item shadow mb-5 bg-white rounded">
                <img src="assets/img/index/card-3.png" alt="">
                <div class="px-3">
                    <h5 class="text-center">MEDICAMENTOS</h5>
                </div>
                <div class="item-meta">
                    <h2>INGRESAR</h2>
                    <!-- <p>{{ producto.categoria }}</p> -->
                </div>
            </a>
            <a routerLink="/product" class="rk-item ae-masonry__item shadow mb-5 bg-white rounded">
                <img src="assets/img/index/card-4.png" alt="">
                <div class="px-3">
                    <h5 class="text-center">INJECTABLES</h5>
                </div>
                <div class="item-meta">
                    <h2>INGRESAR</h2>
                    <!-- <p>{{ producto.categoria }}</p> -->
                </div>
            </a>
        </div>
    </section>
</section>