
<section class="ae-container-fluid">
    <app-g-carousel></app-g-carousel>

    <div class="ae-container-fluid ae-container-fluid--inner">
        <div class="animated fadeIn ae-grid au-xs-ta-center au-mt-4">
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-4.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Nuestra plataforma virtual</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-5.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Sucursal 24 horas</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-6.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Atención personalizada</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-7.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Ubica tu farmacia</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
        </div>
    </div>

    <div class="ae-container-fluid ae-container-fluid--inner">
        <div class="animated fadeIn ae-grid au-xs-ta-center au-mt-4">
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-1.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Productos</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-2.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Buscar</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-3.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Medicamentos</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
            <div class="ae-grid__item item-md-6 item-lg-3 ae-kappa au-mb-3">
                <img class="img-index" src="assets/img/index/card-4.png" alt="">
                <h5 class="ae-u-bolder au-mt-2">Injectables</h5>
                <!-- <p class="ae-u-bolder au-mb-3">persona.subtitulo</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-1 au-pr-1">persona.frase</p> -->
                <a routerLink="/product" class="btn btn-warning">INGRESA</a>
            </div>
        </div>
    </div>

    
</section>